<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= newsItem.title %></title>
</head>
<body>

<h1><%= newsItem.title %></h1>

<% if(newsItem.image){ %>
<img src="<%= newsItem.image %>" style="width:100%;">
<% } %>

<p><%= newsItem.content %></p>

<a href="/">Back</a>

</body>
</html>