body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f4f6f8;
}

header{
  background:#b91c1c;
  color:#fff;
  padding:20px;
  text-align:center;
}

.logo{
  font-size:40px;
  font-weight:900;
}

nav{
  background:#111827;
  padding:12px;
  text-align:center;
}

nav a{
  color:#fff;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
}

.container{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

.news-card{
  background:#fff;
  padding:20px;
  margin-bottom:20px;
  border-radius:10px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

.news-card h2{
  margin-top:0;
}

.category{
  color:#b91c1c;
  font-weight:bold;
}

footer{
  background:#111827;
  color:#fff;
  text-align:center;
  padding:20px;
}